ipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/
*.releaseBackup
*.versionsBackup

#maven relase stuff
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties


##Maven Modules target folders
/mncis-db-fragment/target
/mncis-notifications-audit-service/target
/mncis-notifications-blueprint-route/target
/mncis-notifications-bypass/target
/mncis-notifications-caseget-client/target
/mncis-notifications-client/target
/mncis-notifications-common/target
/mncis-notifications-parser/target
/mncis-notifications-wsmq-amq-bridge/target
/mncis-notifications-route/target
/mncis-osgi-feature/target
mncis-notifications-parser/target/

##JAVA
*.class
*.jar

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


